
<div class="container">

    
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            <li>
                <img src="~/Areas/Image/19-Acquire.jpg" alt="Slide" style="width:300px" />
                <div class="caption-group">
                    <h2 class="caption title primary">
                        套利<br><span>Acquire<br><strong>併購囉!</strong></span>
                    </h2>
                    <h4 class="caption subtitle">熱銷中</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
            </li>
            <li>
                <img src="~/Areas/Image/09-The Resistance Avalon.jpg" alt="Slide" style="width:300px" />
                <div class="caption-group">
                    <h2 class="caption title primary">
                        抵抗組織：阿瓦隆<br><span>The Resistance Avalon<br><strong>派對第二名!!</strong></span>
                    </h2>
                    <h4 class="caption subtitle">熱銷中</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
            </li>
            <li>
                <img src="~/Areas/Image/19-Acquire.jpg" alt="Slide" style="width:300px" />
                <div class="caption-group">
                    <h2 class="caption title primary">
                        套利<br><span>Acquire<br><strong>併購囉!</strong></span>
                    </h2>
                    <h4 class="caption subtitle">熱銷中</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
            </li>
            <li>
                <img src="~/Areas/Image/09-The Resistance Avalon.jpg" alt="Slide" style="width:300px" />
                <div class="caption-group">
                    <h2 class="caption title primary">
                        抵抗組織：阿瓦隆<br><span>The Resistance Avalon<br><strong>派對第二名!!</strong></span>
                    </h2>
                    <h4 class="caption subtitle">熱銷中</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
            </li>
        </ul>
    </div>

</div>